@inject IUserSettingsApi UserSettingsApi

<span>@_temperatureDisplay</span>

@code {
    private string _temperatureDisplay = string.Empty;
    private WeatherForecastSample.Shared.Models.UserSettings _userSettings = null!;

    [Parameter]
    public int Temperature { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //TODO: load user settings once, or get from cascading value
        _userSettings = await UserSettingsApi.GetUserSettingsAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        var temperature = WeatherForecastSample.Shared.Temperature.FromDegreesCelsius(Temperature);
        _temperatureDisplay = temperature.ToString(_userSettings.TemperatureUnit);
    }
}
