@page "/"
@inherits IndexBase

<PageTitle>Weather Forecast</PageTitle>


<div class="row">
    <div class="col-12">
        <h1>12 Februari 2021</h1>

    </div>
</div>

<div class="row">
    @if (!WeatherForecasts.Any())
    {
        <span>Loading...</span>
    }
    else
    {
        foreach (var weatherForecast in WeatherForecasts)
        {
            <WeatherForecastCard WeatherForecast="@weatherForecast" />
        }
    }
</div>