@page "/"
@inherits IndexBase

<PageTitle>Weather Forecast</PageTitle>


<div class="row">
    <div class="col-12">
        <h1>12 Februari 2021</h1>

    </div>
</div>

<div class="row">
    @if (!WeatherForecasts.Any())
    {
        <span>Loading...</span>
    }
    else
    {
        <ul class="list-group list-group-horizontal">
            @foreach (var weatherForecast in WeatherForecasts)
            {
                <li class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div style="text-align: center;">
                        <p><b>@weatherForecast.Date.ToString("ddd")</b></p>

                        <WeatherTypeImage WeatherType="@weatherForecast.WeatherType" Size="50" />

                        <p>@weatherForecast.MinimumTemperature / @weatherForecast.MaximumTemperature</p>
                    </div>
                </li>
            }
        </ul>
    }
</div>